#!/usr/bin/env python3
"""
{{ config.name }} - Generated with INX Builder
Author: {{ config.author }}
Description: {{ config.description }}
"""

import inkex
import random
from lxml import etree


class {{ camel_name }}(inkex.EffectExtension):
    """{{ config.description }}"""
    
    def add_arguments(self, pars):
        {% for param in params %}
        pars.add_argument("--{{ param.name }}", type={{ param.type }}, 
                         default={{ param.default|tojson }},
                         help="{{ param.gui_description }}")
        {% endfor %}
    
    def effect(self):
        """Main effect execution"""
        self.msg(f"{{{{ self.__class__.__name__ }}}} executing...")
        
        # TODO: Implement your Mondrian logic here
        # Access parameters: self.options.{{ params[0].name }}
        
        # Example: Create a simple rectangle
        layer = self.svg.get_current_layer()
        
        rect = etree.SubElement(layer, inkex.addNS('rect', 'svg'))
        rect.set('x', '50')
        rect.set('y', '50')
        rect.set('width', '100')
        rect.set('height', '100')
        rect.set('style', 'fill:#ff0000;stroke:#000000;stroke-width:2')
        
        self.msg("Effect completed!")


if __name__ == '__main__':
    {{ camel_name }}().run()
